*{
    box-sizing: border-box;
}

body{
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.key{
    border: 1px solid #999;
    background-color: darkblue;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px;
    margin: 10px;
    min-width: 150px;
    text-align: center;
}

.key small {
    color:white;
    display: flex;
    top: 10px;
    left: 0;

}